h1 {
  color: tomato;
}

body {
  background: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #133c55;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  font-family: Verdana, Geneva, sans-serif;
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  height: auto;
  flex: 60%;
}

.panel-default {
  border-width: 2px;
  border-color: grey;
  border-style: outset;
  height: 100%;
}

.message-username {
  //flex: 2;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  flex: auto;
  display: flex;
  align-items: center;
  //text-shadow: 1px 1px black;
}

.orderOne {
  order: 1;
}

.orderTwo {
  order: 2;
}

.orderThree {
  order: 3;
}

.userMessage {
  background: rgba(115, 178, 114, 0.4);
}

.message-spacing {
  flex: 30%;
}

.navbar {
  background: #133c55;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand:hover {
  color: black;
}

.navbar-brand {
  color: black;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-counter {
  float: right;
}

.picture {
  width: 60%;
}

.form-group {
  margin: 15px;
}

.panel-body {
  height: 100%;
  display: flex;
  align-items: center;

  padding: 0px 10px 0px 10px;
}

.notification {
  display: flex;
  justify-content: center;
}
